.left-sidebar {
  background-color: #cbdffa;
  flex-basis: 25%;
  position: sticky;
  top: 70%;
  align-self: flex-start;
}
.rigth-sidebar {
  background-color: #cbdffa;
  flex-basis: 25%;
  position: sticky;
  top: 70%;
  align-self: flex-start;
}
